<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.src.cart.CartMapper">

    <select id="checkCart" parameterType="int" resultType="int">
        select exists(select userId from Cart where userId = #{userId} and status = 'Y')
    </select>

    <select id="getCartId" parameterType="int" resultType="int">
        select cartId from Cart where userId = #{userId} and status = 'Y'
    </select>

    <insert id="createCart" parameterType="PostCreateCartReq">
        insert into Cart (userId, isDirectOrder) values (#{userId}, #{isDirectOrder})
        <selectKey keyProperty="cartId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createSmallCart" parameterType="PostSmallCartReq">
        insert into SmallCart (cartId, productId, count, price, deliveryTip, request) values (#{cartId}, #{productId}, #{count}, #{price}, #{deliveryTip}, '');
        <selectKey keyProperty="smallCartId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateCartPrice" parameterType="int">
        update Cart set priceAll = priceAll + ${price} where cartId = #{cartId}
    </update>

    <update id="updateDeliveryTip" parameterType="int">
        update Cart set deliveryTipAll = deliveryTipAll + ${deliveryTip} where cartId = #{cartId}
    </update>

    <insert id="createOrderDetail" parameterType="int">
        insert into OrderDetail (productOptionId, smallCartId) values (#{productOptionId}, #{smallCartId});
        <selectKey keyProperty="smallCartId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getCart" parameterType="int" resultType="GetCartRes">
        select cartId, priceAll, deliveryTipAll from Cart where userId = #{userId} and status='Y'
    </select>

    <select id="getSmallCart" parameterType="int" resultType="GetSmallCartRes">
        select smallCartId,
               makerName,
               thumbnailImageUrl,
               productName,
               amount,
               IFNULL((select group_concat(distinct ProductOption.content separator '\n')
                from ProductOption
                         inner join OrderDetail OD on ProductOption.productOptionId = OD.productOptionId
                         inner join SmallCart SC on OD.smallCartId = SC.smallCartId
                where SC.smallcartId = SmallCart.smallCartId), '') as productOption,
               FORMAT(SmallCart.price, 0) price,
               count,
               SmallCart.deliveryTip,
               tipFreeMin,
               request
        from SmallCart
                 inner join Product P on SmallCart.productId = P.productId
                 inner join Maker M on P.makerId = M.makerId
        where cartId = #{cartId} and SmallCart.status = 'Y'
    </select>

    <update id="delCart" parameterType="int">
        Update Cart set status = 'D' where CartId = #{CartId}
    </update>

</mapper>
