<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.src.product.ProductMapper">
    <select id="getTodayProducts" resultType="GetTodayRes">
        select Product.productId,
               productName,
               thumbnailImageUrl,
               IFNULL((select AVG(star) from Review where Product.productId = Review.productId), 0) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review
        from Product
        where Product.status = 'Y'
        ORDER BY RAND()
    </select>

    <select id="getLiveProducts" resultType="GetLiveRes">
        select Product.productId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, "") as thumbnailImageUrl,
               (select AVG(star) from Review where Product.productId = Review.productId) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review,
       TIMESTAMP(OL.updatedAt) date
        from Product
            left join Review R on Product.productId = R.productId
            inner join Maker M on Product.makerId = M.makerId
            left join OrderList OL on R.orderListId = OL.orderListId
        where Product.status = 'Y'
        group by Product.productId ORDER BY date DESC
    </select>

    <select id="getNewProducts" resultType="GetNewRes">
        select Product.productId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, "") as thumbnailImageUrl,
            TIMESTAMP (Product.createdAt) as date
        from Product
            inner join Maker M on Product.makerId = M.makerId
        where Product.status = 'Y'
        ORDER BY date DESC
    </select>

    <select id="getTodayMore" resultType="GetProductRes">
        select Product.productId,
               Product.categoryId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, "") as thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review,
                vip
        from Product
            inner join Maker M on Product.makerId = M.makerId
        where Product.status = 'Y'
        ORDER BY RAND()
    </select>

    <select id="getFirstBuy" resultType="GetProductRes">
        select Product.productId,
               Product.categoryId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, "") as thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review,
               vip
        from Product
                 inner join Maker M on Product.makerId = M.makerId
        where Product.status = 'F'
    </select>

    <select id="getRelateProducts" parameterType="int" resultType="GetProductRes">
        select Product.productId,
               Product.categoryId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, '')                                                            as thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId)                as star,
               (select COUNT(star) from Review where Product.productId = Review.productId)              as reviewCount,
               IFNULL((select content from Review R where R.productId = Product.productId limit 1), '') as review,
               vip
        from Product
                 inner join Maker M on Product.makerId = M.makerId
                 inner join (select categoryId as userCategoryId
                             from Product
                                      inner join User U on Product.productId = U.productId
                             where U.userId = #{userId}) as userCategory
        where Product.status = 'Y'
        ORDER BY Product.categoryId = userCategory.userCategoryId desc
    </select>

    <select id="getProductId" parameterType="int" resultType="int">
        select productId from User where userId = #{userId}
    </select>

    <select id="getMaybeProducts" parameterType="int" resultType="GetProductRes">
        select *
        from (select distinct Product.productId,
                              Product.categoryId,
                              productName,
                              P.productKeyword,
                              makerName,
                              IFNULL(thumbnailImageUrl, '')                                                            as thumbnailImageUrl,
                              price,
                              discountRate,
                              tag,
                              (select AVG(star) from Review where Product.productId = Review.productId)                as star,
                              (select COUNT(star)
                               from Review
                               where Product.productId = Review.productId)                                             as reviewCount,
                              IFNULL((select content from Review R where R.productId = Product.productId limit 1),
                             '')                                                                               as review,
                              vip
              from Product
                       inner join Maker M on Product.makerId = M.makerId
                       inner join ProductKeyword P on Product.productId = P.productId
                       inner join (select PK.productKeyword
                                   from Product
                                            inner join ProductKeyword PK on Product.productId = PK.productId
                                   where Product.productId = #{productId}) as userMaybe
              where Product.status = 'Y'
              ORDER BY P.productKeyword = userMaybe.productKeyword desc) as collection
        group by collection.productId
    </select>

    <select id="getCategoryProducts" parameterType="int" resultType="GetProductRes">
        select Product.productId,
               Product.categoryId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, "") as thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review,
                vip
        from Product
            inner join Maker M on Product.makerId = M.makerId
        where categoryId = #{categoryId} and Product.status = 'Y'
    </select>

    <select id="getSearchProducts" parameterType="String" resultType="GetProductRes">
        select Product.productId,
               Product.categoryId,
               productName,
               makerName,
               IFNULL(thumbnailImageUrl, '') as thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId) as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               IFNULL((select content from Review R where R.productId=Product.productId limit 1), '') as review,
                vip
        from Product
            inner join Maker M on Product.makerId = M.makerId
        where productName like '%${word}%' or makerName like '%${word}%' and Product.status = 'Y'
    </select>

    <select id="getProductDetail" parameterType="int" resultType="GetDetailRes">
        select Product.productId,
               Product.categoryId,
               makerName,
               productName,
               IFNULL(thumbnailImageUrl, '') thumbnailImageUrl,
               price,
               discountRate,
               tag,
               (select AVG(star) from Review where Product.productId = Review.productId)   as star,
               (select COUNT(star) from Review where Product.productId = Review.productId) as reviewCount,
               (select COUNT(distinct orderListId)
                from OrderList
                         inner join Cart C on OrderList.cartId = C.cartId
                         inner join SmallCart SC on C.cartId = SC.cartId
                         inner join OrderDetail OD on SC.smallCartId = OD.smallCartId
                         inner join ProductOption PO on OD.productOptionId = PO.productOptionId
                         inner join Product P on PO.productId = P.productId
                where PO.productId = P.productId)                                           as orderCount,
               deliveryTip,
               tipFreeMin,
               amount,
               IFNULL(productInfo, '') productInfo,
               (select count(likeListId) from LikeList inner join Product P on LikeList.productId = P.productId where P.productId = #{productId} and LikeList.status = 'Y') as likeCount
        from Product
                 inner join Maker M on Product.makerId = M.makerId
        where Product.productId = #{productId}
    </select>

    <select id="getProductReviews" parameterType="int" resultType="Review">
        select R.reviewId,
               U.userId,
               userName,
               R.updatedAt updateDate,
               IFNULL(profileImageUrl, "") profileImageUrl,
               star,
               IFNULL(imageUrl, "") imageUrl,
               IFNULL(R.content, "") content,
               IFNULL((select group_concat(distinct ProductOption.content separator ' ')
                       from ProductOption
                                inner join OrderDetail OD on ProductOption.productOptionId = OD.productOptionId
                                inner join Product P on ProductOption.productId = P.productId
                                inner join Review R on P.productId = R.productId
                       where R.productId = 1), '') as productOption
        from Review R
                 inner join OrderList OL on R.orderListId = OL.orderListId
                 inner join Cart C on OL.cartId = C.cartId
                 inner join User U on C.userId = U.userId
        where R.productId = #{productId}
    </select>

    <select id="getProductKeywords" parameterType="int" resultType="String">
        select IFNULL(productKeyword, '') as productKeyword
        from ProductKeyword
        where ProductKeyword.productId = #{productId} and status = 'Y'
    </select>

    <select id="getProductComments" parameterType="int" resultType="com.example.demo.src.product.model.entity.Comment">
        select Comment.commentId,
               IFNULL(profileImageUrl, '') as commentUserProfileImageUrl,
               userName as commentUserName,
               IFNULL(content, '') as commentContent
        from Comment
                 inner join User U on Comment.userId = U.userId
        where Comment.productId = #{productId}
          and Comment.status = 'Y'
    </select>

    <select id="getMakerInfo" parameterType="int" resultType="com.example.demo.src.product.model.entity.Maker">
        select Product.makerId,
               IFNULL(makerProfileImageUrl, '') makerProfileImageUrl,
               makerName,
               IFNULL((select AVG(star)
                       from OrderList OL
                                inner join Review on Review.orderListId = OL.orderListId
                                inner join Cart C on OL.cartId = C.cartId
                                inner join SmallCart SC on C.cartId = SC.cartId
                                inner join OrderDetail OD on SC.smallCartId = OD.smallCartId
                                inner join ProductOption PO on OD.productOptionId = PO.productOptionId
                                inner join Product P on PO.productId = P.productId
                                inner join Maker M on P.makerId = M.makerId
                       where M.makerId = Product.makerId
                       group by P.productId), 0)   as star,
               (select Count(star)
                from OrderList OL
                         inner join Review on Review.orderListId = OL.orderListId
                         inner join Cart C on OL.cartId = C.cartId
                         inner join SmallCart SC on C.cartId = SC.cartId
                         inner join OrderDetail OD on SC.smallCartId = OD.smallCartId
                         inner join ProductOption O on OD.productOptionId = O.productOptionId
                         inner join Product P on O.productId = P.productId
                         inner join Maker M on P.makerId = M.makerId
                where M.makerId = Product.makerId
                group by P.productId)              as reviewCount,
               (select Count(likeListId)
                from LikeList
                         inner join Product P on LikeList.productId = P.productId
                         inner join Maker M on P.makerId = M.makerId
                where M.makerId = Product.makerId  and LikeList.status = 'Y') as makerProductLikeCount,
               (select Count(followId)
                from Follow
                where makerId = Product.makerId)   as followCount,
               (select Count(supportId)
                from Support
                where makerId = Product.makerId)   as supportCount,
               M.profileDetail
        from Product
                 inner join Maker M on Product.makerId = M.makerId
        where Product.productId = #{productId}
    </select>

    <select id="getOptionInit" parameterType="int" resultType="GetOptionRes">
        select distinct title, productId
        from ProductOption
        where productId = #{productId} and status = 'Y'
    </select>

    <select id="getOptionTitle" parameterType="int" resultType="String">
        select distinct title
        from ProductOption
        where productId = #{productId}
    </select>

    <select id="getOptionInfo" parameterType="GetOptionReq" resultType="GetOptionDetailRes">
        select productOptionId,
               IFNULL(content, '') content,
               addPrice
        from ProductOption
        where title = #{title} and productId = #{productId} and ProductOption.status = 'Y'
    </select>

    <insert id="addView" parameterType="int">
        insert View (userId, productId) VALUES (#{userId}, #{productId});
    </insert>

    <update id="updateUserResent" parameterType="int">
        update User set productId = #{productId} where userId = #{userId}
    </update>

    <insert id="likeProduct" parameterType="int">
        insert LikeList (userId, productId) VALUES (#{userId}, #{productId});
    </insert>
    
    <select id="checkLike" parameterType="int" resultType="int">
        select exists(select likeListId from LikeList where userId = #{userId} and productId = #{productId})
    </select>

    <select id="getLikeStatus" parameterType="int" resultType="String">
        select status from LikeList where productId = #{productId} and userId = #{userId}
    </select>

    <update id="setLikeStatus" parameterType="PostLikeProductReq">
        Update LikeList set status = #{status} where userId = #{userId} and productId = #{productId}
    </update>

    <select id="getProductCoupons" parameterType="int" resultType="GetCouponRes">
        select productCouponId as couponId,
               couponName,
               rate,
               amount,
               priceMin,
               DATE_FORMAT(startDate, '%Y.%m.%d')     as startDate,
               DATE_FORMAT(endDate, '%Y.%m.%d')       as endDate,
               TIMESTAMPDIFF(DAY, CURDATE(), endDate) as remainingDay,
               ProductCoupon.status
        from ProductCoupon
        where productId = #{productId} and ProductCoupon.status = 'Y'
    </select>

    <select id="checkCoupon" parameterType="int" resultType="int">
        select exists (select couponId from Coupon where productCouponId = #{productCouponId} and userId = #{userId} and status='Y')
    </select>

    <insert id="takeCoupon" parameterType="int">
        insert into Coupon (productCouponId, userId) values(#{productCouponId}, #{userId})
    </insert>
</mapper>
